venv
.venv
.virtualenv
.idea
.git
*.pyc
db.sqlite3
__pycache__
*.pytest_cache
postgres-data
*.env
test*.py
*.session
*.session-journal
.vscode
*.log
*.sh
*.txt
*.yaml
*.html
!requirements.txt
token.json
hh_token.json
credentials.json
