[Unit]
Description=Cmstore HH бот
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/CMstoreHH/
ExecStart=/usr/bin/python3 /opt/CMstoreHH/main.py
Restart=always

[Install]
WantedBy=multi-user.target
